.carrossel-container {
    width: 100%; /* Tornar o carrossel responsivo */
    overflow: hidden;
    margin: auto;
}

.carrossel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrossel img {
    width: 100%; /* As imagens ocupam 100% da largura do carrossel */
    height: auto; /* Manter a altura proporcional */
}